.box-nav {
  width: 230px;
  height: 475px;
  text-align: left;
  color: #646464;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;

  >h1 {
    height: 39px;
    width: 100%;
    line-height: 39px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    margin-left: 15px;
  }

  .nav-menu {
    position: relative;
    width: 100%;
    padding: 10px 0 8px;
    box-sizing: border-box;

    >li {
      box-sizing: border-box;
      padding: 2px 12px;
      height: 26px;

      >a {
        font-size: 13px;
        color: #646464;
      }

      >i {
        font-family: "meituan";
        font-size: 14px;
        font-style: normal;
        margin-right: 11px;

        &:before {
          width: 14px;
          height: 14px;
          display: inline-block;
        }
      }

      .food {
        &:before {
          content: "\e622";
          color: #FF8200;
        }
      }

      .takeout {
        &:before {
          content: "\e630";
          color: #FFB500;
        }
      }

      .hotel {
        &:before {
          content: "\e62a";
          color: #9B5E3E;
        }
      }

      .homestay {
        &:before {
          content: "\e631";
          color: #FFB500;
        }
      }

      .movie {
        &:before {
          content: "\e62c";
          position: relative;
          left: -2px;
          color: #FF3D00;
        }
      }

      .airport {
        &:before {
          content: "\e632";
        }
      }

      .ktv {
        &:before {
          content: "\e627";
          color: #03A9F4;
        }
      }

      .life {
        &:before {
          content: "\e633";
          color: #00BF96;
        }
      }

      .hair {
        &:before {
          content: "\e626";
          transform: scale(0.7);
          color: #FF4081;
        }
      }

      .marry {
        &:before {
          content: "\e629";
          color: #FF4081;
        }
      }

      .offspring {
        &:before {
          content: "\e623";
          color: #FF4081;
        }
      }

      .sport {
        &:before {
          content: "\e62b";
          color: #03A9F4;
        }
      }

      .furniture {
        &:before {
          content: "\e625";
          color: #00BF96;
        }
      }

      .study {
        &:before {
          content: "\e624";
          color: #00BF96;
        }
      }

      .health {
        &:before {
          content: "\e628";
          color: #03A9F4;
        }
      }

      .bar {
        &:before {
          content: "\e621";
          color: #00BF96;
        }
      }

      .hot {
        font-size: 12px;
        color: #222222;
        background: #FFF3CC;
        background-clip: padding-box;
        display: inline-block;
        border-radius: 10px;
        padding: 0 7px;
        margin-left: 5px;
        transform: scale(0.9);
        opacity: 1;

        &:hover {
          opacity: 1;
          font-weight: 400;
          background: linear-gradient(to bottom right, #FFD000, #FFBD00);
        }
      }
    }

    >li:hover {
      background: rgba(255, 150, 0, 0.08);
      color: #222222;
    }

    >li:hover a {
      font-weight: 700;
      color: #222;
    }
    .nav-detail {
      position: absolute;
      left: 100%;
      bottom: 0;
      width: 400px;
      height: 416px;
      background-color: #fff;
      overflow: hidden;
      padding: 0 30px;
      box-sizing: border-box;
    }
  }

  
}